<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>

        <nav>
            <picture>
                <a href="../index.html"><img src="../img/logo.jpg" alt="logo" class="logo">
                </a>
            </picture>
            <ul class="menu">
                
                <li>
                    <a href="./videos.html">videos</a>
                </li>
                <li>
                    <a href="./fotos.html">fotos</a>
                </li>
                <li>
                    <a href="./noticias.html">noticias</a>
                </li>
                <li>
                    <a href="./contacto.html" class="active-color">contacto</a>
                </li>
                <li>
                    <a href="https://www.facebook.com/athena.grey.niimura.dancer" target="_blank"><iconify-icon icon="akar-icons:facebook-fill"></iconify-icon></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/athena.niimura/" target="_blank"><iconify-icon icon="akar-icons:instagram-fill"></iconify-icon></a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="banner">
            <h1>athena grey niimura</h1>
        </section>
        <form action="" method="post">
            <label for="">nombre: </label>
            <input type="text" name="nombre">
            <br>
            <br>
            <label for="correo">correo: </label>
            <input type="email" name="correo" id="">
            <br>
            <br>
            <label for="consulta">deja tu comentario: </label>
            <br>
            <br>
            <textarea name="consulta" id="" cols="50" rows="20"></textarea>
            <br>
            <br>
            <input type="submit" value="enviar">
        </form>
    </main>
    <footer>
        <p>Desarrollado por Athena Niimura ☣</p>
    </footer>
<script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
<script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
</body>
</html>