<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <header>

        <nav>
            <picture>
                <a href="../index.html"><img src="../img/logo.jpg" alt="logo" class="logo">
                </a>
            </picture>
            <ul class="menu">
                
                <li>
                    <a href="./videos.html">videos</a>
                </li>
                <li>
                    <a href="./fotos.html" class="active-color">fotos</a>
                </li>
                <li>
                    <a href="./servicios.html">servicios</a>
                </li>
                <li>
                    <a href="./contacto.html">contacto</a>
                </li>
                <li>
                    <a href="https://www.facebook.com/athena.grey.niimura.dancer" target="_blank"><iconify-icon icon="akar-icons:facebook-fill"></iconify-icon></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/athena.niimura/" target="_blank"><iconify-icon icon="akar-icons:instagram-fill"></iconify-icon></a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="banner">
            <h1>athena grey niimura</h1>
        </section>
        <section id="gallery" class="gallery">
            <picture class="gallery__img">
                <img src="../fotos/1.png" alt="">
 
            </picture>
            <picture class="gallery__img">
                <img src="../fotos/2.png" alt="">

            </picture>
            <picture class="gallery__img">
                <img src="../fotos/3.png" alt="">

            </picture>
            <picture class="gallery__img">
                <img src="../fotos/4.png" alt="">

            </picture>
            <picture class="gallery__img">
                <img src="../fotos/5.png" alt="">

            </picture>
            <picture class="gallery__img">
                <img src="../fotos/6.png" alt="">

            </picture>
            <picture class="gallery__img">
                <img src="../fotos/7.png" alt="">

            </picture>
            <picture class="gallery__img">
                <img src="../fotos/8.png" alt="">

            </picture>
            <picture class="gallery__img">
                <img src="../fotos/9.png" alt="">

            </picture>
            <picture class="gallery__img">
                <img src="../fotos/10.png" alt="">

            </picture>
            <picture class="gallery__img">
                <img src="../fotos/11.png" alt="">

            </picture>
            <picture class="gallery__img">
                <img src="../fotos/12.png" alt="">

            </picture>
            <picture class="gallery__img">
                <img src="../fotos/13.png" alt="">
                
            </picture>
            <picture class="gallery__img">
                <img src="../fotos/14.png" alt="">

            </picture>
            <picture class="gallery__img">
                <img src="../fotos/15.png" alt="">

            </picture>
            <picture class="gallery__img">
                <img src="../fotos/16.png" alt="">

            </picture>
            <picture class="gallery__img">
                <img src="../fotos/17.png" alt="">

            </picture>
            <picture class="gallery__img">
                <img src="../fotos/18.png" alt="">

            </picture>
      

        </section>
    </main>
    <footer>
        <p>Desarrollado por <span class="color-de-footer">Athena Niimura</span> ☣</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
</body>
</html>