<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <header>
      <nav>
        <picture>
          <a href="../index.html"
            ><img src="../img/logo.jpg" alt="logo" class="logo" />
          </a>
        </picture>
        <ul class="menu">
          <li>
            <a href="./videos.html">videos</a>
          </li>
          <li>
            <a href="./fotos.html">fotos</a>
          </li>
          <li>
            <a href="./servicios.html" class="active-color">servicios</a>
          </li>
          <li>
            <a href="./contacto.html">contacto</a>
          </li>
          <li>
            <a
              href="https://www.facebook.com/athena.grey.niimura.dancer"
              target="_blank"
              ><iconify-icon icon="akar-icons:facebook-fill"></iconify-icon
            ></a>
          </li>
          <li>
            <a href="https://www.instagram.com/athena.niimura/" target="_blank"
              ><iconify-icon icon="akar-icons:instagram-fill"></iconify-icon
            ></a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="banner">
        <h1>athena grey niimura</h1>
      </section>
      <section class="services">
        <article class="services-content">
          <div class="services-img">
            <img src="../fotos/servicios.jpg" alt="" />
            <img src="../fotos/servicios1.jpg" alt="" />
          </div>
          <div class="services-text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum
              repellendus odit, ratione esse beatae repellat tenetur. Eius,
              beatae libero laborum labore, ut consequatur exercitationem quas
              explicabo laudantium expedita earum quam?
            </p>
          </div>
        </article>

        <article class="services-content">
            <div>
                <h3>algunos de mis trabajos</h3>
            </div>
            <div class="services-frames">
                <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/L3cEeELrw6c?start=1"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/videoseries?list=PLpw5GUvnSHPPm8bI50V53dPs7yTx3dDwB"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </div>
        </article>
      </section>
    </main>
    <footer>
      <p>
        Desarrollado por <span class="color-de-footer">Athena Niimura</span> ☣
      </p>
    </footer>
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
  </body>
</html>
