<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
        
        <nav>
            <picture>
                <a href="../index.html"><img src="../img/logo.jpg" alt="logo" class="logo">
                </a>
            </picture>
            <ul class="menu">
            
                <li>
                    <a href="./videos.html" class="active-color">videos</a>
                </li>
                <li>
                    <a href="./fotos.html">fotos</a>
                </li>
                <li>
                    <a href="./noticias.html">noticias</a>
                </li>
                <li>
                    <a href="./contacto.html">contacto</a>
                </li>
                <li>
                    <a href="https://www.facebook.com/athena.grey.niimura.dancer" target="_blank"><iconify-icon icon="akar-icons:facebook-fill"></iconify-icon></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/athena.niimura/" target="_blank"><iconify-icon icon="akar-icons:instagram-fill"></iconify-icon></a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="banner">
            <h1>athena grey niimura</h1>
        </section>
        <section class="video-welcome-section">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/KWgaY4qUs_w?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </section>
        <section>
            <article>
                <h3 class="sub-titulo">Suscribete a mi canal de Youtube</h3>
                <div class="g-ytsubscribe" data-channelid="UCizjat_AO7tsn9-oIIAfU4A" data-layout="full" data-count="hidden"></div>
            </article>
        </section>
            <article class="mis-videos">
                <h1 class="texto-del-video">
                    Mira todos mis videos!
                </h1>
            </article>
        <section class="lista-de-videos-athena">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLpw5GUvnSHPNX2q8MAbyYsctzG6muHEUr" frameborder="0" allow="autoplay"></iframe>
        </section>
            <article class="mis-videos">
                <h2 class="texto-del-video">Colaboraciones!</h2>
            </article>
        <section class="videos-con-otros-dancers">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLpw5GUvnSHPPKk9juQTu7oBFEovoCKCK5" frameborder="0" allow="autoplay"></iframe>
        </section>
    </main>
    <footer>
        <p>Desarrollado por <span class="color-de-footer">Athena Niimura</span> ☣</p>
    </footer>
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
    <script src="https://apis.google.com/js/platform.js"></script>
</body>
</html>